In [1]:
import pandas as pd
import numpy as np

# Day 1, Part 1

In [2]:
df = pd.read_csv('mass.csv', header=None)

In [3]:
df[['mass']] = df[[0]]
df.drop(columns=0, inplace=True)

In [4]:
df.head()

     mass
0  118602
1   60644
2  136064
3  134771
4   62530

In [5]:
df.columns

Index(['mass'], dtype='object')

In [6]:
df.mass.astype(int)

0     118602
1      60644
2     136064
3     134771
4      62530
5     129043
6     120233
7     126092
8     112839
9      86210
10    132501
11     75894
12    109369
13     83641
14     92700
15     64983
16     90418
17    130659
18     92555
19    104100
20    121330
21     87819
22     63021
23    138752
24    108491
25    113214
26    136107
27     55602
28    131025
29     90689
       ...
70     89814
71    130753
72     58561
73     61666
74    144353
75    142168
76    143592
77     94461
78    116978
79    135420
80     88165
81     97926
82    114772
83    143455
84     53613
85     60408
86     94299
87     98996
88    142167
89     78063
90     98974
91     65392
92    140263
93    126726
94    141285
95    111074
96     95977
97    124871
98    136636
99     81935
Name: mass, Length: 100, dtype: int64

In [7]:
df.dtypes

mass    int64
dtype: object

In [8]:
new_df = df // 3 - 2

In [9]:
new_df.sum()

mass    3479429
dtype: int64

# Day 1, Part 2

In [16]:
# practice

# total = 0
# num = 100756
# while num > 0:
#     num = num // 3 - 2
#     if num > 0:
#         total += num
# print(total)

In [17]:
def fuel_calc(mass):
    total = 0
    for row in mass:
        while row > 0:
            row = row // 3 - 2
            if row > 0:
                total += row
    return total

In [18]:
df.apply(fuel_calc)

mass    5216273
dtype: int64

In [19]:
df.head()

     mass
0  118602
1   60644
2  136064
3  134771
4   62530

# Day 2, Part 1

In [21]:
my_list = list([1,9,10,3,2,3,11,0,99,30,40,50])

In [22]:
my_list

[1, 9, 10, 3, 2, 3, 11, 0, 99, 30, 40, 50]

In [23]:
my_list[0]

1