In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

## Acquire

In [3]:
df = pd.read_csv('foods.csv')

## Explore

In [4]:
df.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [5]:
df.shape

(1000, 6)

In [6]:
df.isnull().sum()

First Name    0
Gender        0
City          0
Frequency     0
Item          0
Spend         0
dtype: int64

In [9]:
df.groupby('Item').Item.count()

Item
Burger       156
Burrito      168
Chalupa      147
Donut        187
Ice Cream    176
Sushi        166
Name: Item, dtype: int64